
div.contenedor{
	 background-color: #708090;
  margin: 1rem;
  padding: 1rem;
  border: 2px solid #ccc;
  /* IMPORTANTE */
  text-align: center;

}

span{
	display: inline-block;
	background-color: #708090;

}

div{

	background-color: #708090;
}

span.col-6{

	margin-left: 300px;
}
span.jumbotron{
	margin-left: 150px;
	margin-bottom: 150px;
	background-color: white;
}